{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About us</title>
    <link rel="stylesheet" href="{% static 'css/about_contact.css' %}">
</head>
<body>
        <ul class="menu">
                <li><a href="/app/home/">Home</a></li>
                <li><a href="#" class="active">About</a></li>
                <li><a href="/app/direct_test/">Direct Test</a></li>
                <li><a href="/app/contact/">Contact</a></li>
                <li class="slider"></li>
              </ul>
    <div>
        <h1 align=center style="padding:10px;">About us</h1>
        <p style="padding: 10%">
            We are students of Bharti Vidhyapeeth college of engineering. This produect is developed in VIPS 
            in a VSIT Hackathon under then guidance of some of the most renowed mentors in the industry. 
        </p>
    </div>
</body>
</html>