{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About us</title>
    <link rel="stylesheet" href="{% static 'css/about_contact.css' %}">
</head>
<body>
        <ul class="menu">
                <li><a href="/app/home/">Home</a></li>
                <li><a href="#" class="active">About</a></li>
                <li><a href="/app/direct_test/">Direct Test</a></li>
                <li><a href="/app/contact/">Contact</a></li>
                <li class="slider"></li>
              </ul>
    <div>
        <h1 align=center style="padding:10px;">About us</h1>
        <p style="padding: 10%">
            We are students of Bharti Vidhyapeeth college of engineering. This produect is developed by us for the betterment of the people by providing them a free one step medical diagnostic solution. The code completely open sorced and is avaliable <a href="https://github.com/adi-797/Eye-BioAnalysis-OpenCV" style="color: blue" target="_blank"><b>here</b></a>
        </p>
        <ul style='margin-left: 30%' align='center'>
            <li style="font-size: 24px; color: grey"><i>Aditya Arora, BVCoE, New Delhi</i></li>
            <li style="font-size: 24px; color: grey;margin-left: 20px;"><i>Mukul Anand, BVCoE, New Delhi</i></li>
        </ul>
    </div>
</body>
</html>