{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{% static 'css/dash.css' %}">
</head>
<body>
<ul class="menu">
    <li><a href="/app/home" class="active">Home</a></li>
    <li><a href="/app/history/">History</a></li>
    <li><a href="/app/logout/">Log Out</a></li>
    <li><a>Welcome : {{ user }}</a></li>
    <li class="slider"></li>
</ul>

<div id="div1">
    <form action="/app/gen_diagnosis/" class="edit">
        <button class="Clickers edit" id="button1"><h1>General Diagnostics</h1></button>
    </form>
</div>

<div id="div2">
    <form action="/app/diagnosis_registered/" class="edit">
    <button class="Clickers edit" id="button2"><h1>Special Diagnostics</h1></button>
    </form>
</div>

<div id="div3">
    <form action="/app/notifyform/" class="edit">
    <button class="Clickers edit" id="button3"><h1>Medical Notification</h1></button>
</form>
</div>

<div id="div4">
    <form action="/app/finddoctors/" class="edit">
        <button class="Clickers edit" id="button4"><h1>Consult with a doctor</h1></button>
    </form>
</div>

        
</body>
</html>