{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Direct Test</title>
    <link rel="stylesheet" href="{% static 'css/direct_text.css' %}">
</head>
<body>
  {% block flag %}
        <ul class="menu">
                <li><a href="/app/history/">History</a></li>
                <li><a href="/app/logout/">Log Out</a></li>
                <li class="slider"></li>
        </ul>
        <div class="container">
          <div>
            <p style="align-items: left" align="left">Enter a symptom here </p>
              <form style="align-items: left" align="left" action="/app/gen_diagnosis/">
                <input name='search' type="text" placeholder="Enter Symptom"><button>Search</button>
              </form>
            <p style="align-items: right" align="right">
              Need Help finding your exact symptom? <br> <form style="align-items: right" align="right" action='/app/gen_diagnosis/'><input style="size: 10px; color: red; background-color: yellow;" type="checkbox" name="help"><button>Check Box and submit</button></form>
            </p>
          </div>
        </div>
        {% if flag != 0 %}
        <div>
          {% if flag3 == 1%}
          <div>
            <p>
              Symptoms list: <br>
              {% block help %}
              {% for ele in help%}
              <li>{{ ele }}</li>>
              {% endfor %}
              {% endblock %}
            </p>
          </div>
          {% else %}
          {% if flag2 == 1 %}
          <p> Related Symptom/s: <b> {{ element }}</b> <br> You have deficiency of <b> {{ deficiency }} </b>. <br> Kindly increase intake of the following food/s: <i>{{ food }}</i>.</p>
          {% else %}
          <p> Symptom: <b> {{ element }}</b> <br> Invalid search element, try another keyword.</p>
          {% endif %}
          {% endif %}
        </div>
        {% endif %}
  {% endblock %}
</body>
</html>