{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Direct Test</title>
    <link rel="stylesheet" href="{% static 'css/direct_text.css' %}">
</head>
<body>
  {% block flag %}
        <ul class="menu">
                <li><a href="/app/history/">History</a></li>
                <li><a href="/app/logout/">Log Out</a></li>
                <li class="slider"></li>
        </ul>
        <div class="container">
          <div>
            <p>Enter a symptom here </p>
              <form action="/app/gen_diagnosis/">
                <input name='search' type="text" placeholder="Enter Symptom"><button>Search</button>
              </form>
          </div>
        </div>
        {% if flag != 0 %}
        <div>
          <p> You have deficiency of {{ deficiency }}. <br> Kindly increase intake of the following food/s {{ food }}.
          }
        </div>
        {% endif %}
  {% endblock %}
</body>
</html>