{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Log In</title>
    <link rel="stylesheet" href="{% static 'login.css' %}">
</head>
<body style="background-color:lawngreen">
    <div class="try">
        <header class="header">
                <span class="text">Login</span>
                <span class="loader"></span>
              </header>
              <form action="/app/login_only_redirect/" class="form">
                <input class="input1" name="Username" type="username", placeholder="Username" style="font-size: 2rem;">
                <br>
                <input class="input1" name="Password" type="password", placeholder="Password" style="font-size: 2rem;">
                <br>
                <button type="submit" class="btn btn-primary btn-lg btn-ada"> Log In</button>
              </form>
    </div>
</body>
</html>